<ion-header>
  <ion-navbar>
    <ion-title>Find</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Find restaurant</h2>
  <p>To start please fill form below</p>
  <ion-list>
    <ion-item>
      <ion-label>City</ion-label>
      <ion-select [(ngModel)]="city">
        <ion-option [value]="city" *ngFor="let city of cities">{{ city }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Guests</ion-label>
      <ion-select [(ngModel)]="guests">
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Cuisine</ion-label>
      <ion-select [(ngModel)]="cuisine">
        <ion-option value="">All</ion-option>
        <ion-option [value]="cuisine[0]" *ngFor="let cuisine of cuisines">{{ cuisine[1] }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="YYYY MMM DD HH" [min]="minDate.toISOString()" [max]="maxDate.toISOString()" [(ngModel)]="date"></ion-datetime>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="onFindRestaurants()">Search </button>

  <ion-list>
    <ion-item *ngFor="let restaurant of restaurants">
      <ion-thumbnail item-start>
        <img src="assets/imgs/logo.png">
      </ion-thumbnail>
      <h2>{{ restaurant.name }}</h2>
      <p> {{ restaurant.cuisine }} • {{ restaurant.address.street }} • {{ restaurant.openHour }} - {{ restaurant.closeHour }}
        </p>
      <button ion-button clear item-end (click)="onRestaurantDetails(restaurant)">View</button>
    </ion-item>
  </ion-list>
</ion-content>